:root {
    --cor-cabecalho: #3d3737;
    --cor-fontes-branco: #fff;
    --cor-fontes-preto: #000000;
    --cor-menu-lateral: #a19494;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

.top-menu {
    background-color: var(--cor-cabecalho);
    width: 100%;
    height: 80px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;

}

.top-menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-menu h1 {
    margin: 0;
    padding: 0;
    flex: 1;
    color: var(--cor-fontes-branco);
}

.opcoes1 {
    display: flex;
    justify-content: flex-end;
}

.opcoes1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.opcoes1 a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    
}

.opcoes1 svg{
    fill: var(--cor-fontes-branco)
}

svg {
    fill: var(--cor-fontes-preto);
}

.menu-lateral {
    background-color: var(--cor-menu-lateral);
    width: 240px;
    min-height: 100vh;
    display: flex;
    position: fixed;
}



.menu-lateral ul li svg {
    margin-top: 30px;
    margin-right: 15px;
}

.menu-item {
    text-align: left;
    list-style: none;
    color: var(--cor-fontes-preto);
    
}

.menu-lateral a {
    text-decoration: none;
}

.conteudo-principal {
    background-color: #ffffff;
}
